h1 {
  font-weight: bolder;
  font-size: 27px;
}
h2 {
  font-size: 25px;
}
p1,
p2 {
  font-size: 17px;
}
i {
  font-size: 50px;
  color: #51adcf;
  display: block;
  margin: 10px auto 5px;
  max-width: 100%;
}
.temperature {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  background-color: transparent;
}
.measure {
  position: relative;
  top: -9px;
  cursor: pointer;
  text-decoration: none;
}
.container {
  font-family: "Hind Siliguri", sans-serif;
  color: #0278ae;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 10px;
  max-width: 450px;
  margin: 20px auto;
  padding: 10px;
}

.current-weather {
  float: left;
  position: relative;
  margin: 50px 40px;
}
.main-information {
  float: right;
  margin: 20px 30px;
}
.current-city {
  font-size: 20px;
  font-weight: bolder;
}
.card-group {
  position: relative;
  margin: 10px 0px;
}
.col-2 {
  font-size: 17px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  text-align: center;
}
.future-temperature {
  font-weight: bolder;
}
.coder-details {
  text-align: center;
  text-align: fixed;
  font-size: 13px;
}
.local-city .active {
  color: #0278ae;
  cursor: default;
  text-decoration: none;
}
.local-city .active :hover {
  text-decoration: underline;
}
